@{
    ViewBag.Title = "About";
}

<div class="row" style="border:1px solid black; margin:10px;">
    <div class="row">
        <img src="~/Content/Images/vmware_cloud_logo.jpg" style="height:100px;height:100px; padding:10px;margin:10px;"/>
    </div>
    <div class="row" style="border:1px solid black; margin:5px;">
        <div class="col-md-4" style="border:1px solid black; margin:5px;">
            <div class="jobOptions">
                <div>Info</div>
                <strong style="display:block;">Company</strong>
                <span>VMWare</span>
                <strong style="display:block;">City</strong>
                <span>Sofiq</span>
                <strong style="display:block;">Technology</strong>
                <span>ASP.NET MVC</span>
                <strong style="display:block;">Level</strong>
                <span>Junior</span>
                <strong style="display:block;">Added on</strong>
                <span>10/10/2017 14:52</span>
                <strong style="display:block;">Seen</strong>
                <span>21</span>
            </div>
        </div>
        <div class="col-md-6" style="display:inline-block;">
            <div class="info">
                <h1>Junior ASP.NET Developer</h1>
                <span>Description and requirements:</span>
                <p>
                    Own and manage company’s projects, tasks and activities under head of delivery’s supervision. Lead the planning and implementation of projects and tasks from initiation to closure.
                    Work closely with business owners and head of delivery to define projects and tasks’ scope and expected deliverables.
                    Create a detailed work breakdown structure to estimate effort and resources and provide clear project/task schedule to relevant parties.
                    Ongoing tracking of projects and tasks’ deliverables using appropriate tools and reporting of the progress to head of delivery and other stakeholders. Ensure all projects and tasks are progressed as per plan and raise flags on time.
                    Keeping track of the tasks’ backlog. Assist head of delivery to plan work in advance for the technical teams.
                    General project management tasks. Initiate and improve processes and methodology.
                    Develop and maintain necessary project and delivery documentations.
                </p>
            </div>
        </div>
    </div>
</div>
w