@using DevJobs.Web.Models
@model AdViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Add new Ad
</h1>
@using (Html.BeginForm("CreateAd", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <fieldset>
        <legend>
            Add new Advert
        </legend>
        <label>
            Title:
        </label>
        <br />
        @Html.TextBoxFor(m => m.Title)
        <br />
        <label>
            Description:
        </label>
        <br />
        @Html.TextBoxFor(m => m.Description)
        <br />
        <br />
        <label>
            CompanyName:
        </label>
        <br />
        @Html.TextBoxFor(m => m.CompanyName)
        <br />
        <br />
        <button type="submit" class="btn btn-success">
            Add item
        </button>
    </fieldset>
    <hr />
}