@using DevJobs.Web.Models
@model AdViewModel
@{
    ViewBag.Title = "GetFiltered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<hr />
<p>@Model.Description</p>
<h3>Previews:@Model.PreViews</h3>
